<script>
    const mobileScreen = window.matchMedia("(max-width: 990px )");
    $(document).ready(function () {
        $(".dashboard-nav-dropdown-toggle").click(function () {
            $(this).closest(".dashboard-nav-dropdown")
                .toggleClass("show")
                .find(".dashboard-nav-dropdown")
                .removeClass("show");
            $(this).parent()
                .siblings()
                .removeClass("show");
        });
        $(".menu-toggle").click(function () {
            if (mobileScreen.matches) {
                $(".dashboard-nav").toggleClass("mobile-show");
            } else {
                $(".dashboard").toggleClass("dashboard-compact");
            }
        });
    });
</script>

<div class='dashboard'>
    <div class="dashboard-nav">
        <header>
            <a routerLink="/inicio" class="menu-toggle"><i class="fas fa-bars"></i></a>
            <a routerLink="/inicio" class="brand-logo"><i class="fas fa-anchor"></i> <span>CHAT</span></a>
        </header>
        <nav class="dashboard-nav-list">
            <a routerLink="/inicio" class="dashboard-nav-item"><i class="fas fa-home"></i>Inicio </a>
            <a routerLink="perfil" class="dashboard-nav-item active"><i class="fas fa-tachometer-alt"></i> Perfil </a>
            <div class="nav-item-divider"></div>
            <a routerLink="/login" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Salir </a>
        </nav>
    </div>
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a></header>
        <div class='dashboard-content'>
            <div class='container'>
                <div class='card'>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>