<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                    class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form #frm='ngForm' name="frm">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text" id="nombreCompleto" [(ngModel)]="usuario.nombre" name="nombre"
                            class="form-control form-control-lg" required />
                        <label class="form-label" for="nombreCompleto">Nombre Completo</label>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form1Example13" [(ngModel)]="usuario.email" name="email"
                            class="form-control form-control-lg" required />
                        <label class="form-label" for="form1Example13">Email</label>
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="clave" [(ngModel)]="usuario.clave" name="clave"
                            class="form-control form-control-lg" required />
                        <label class="form-label" for="clave">Clave</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" id="confirmar" [(ngModel)]="clave2" name="clave2"
                            class="form-control form-control-lg" required />
                        <label class="form-label" for="confirmar">Confirmar Clave</label>
                    </div>

                    <div class="row">
                        <div class="col-md-6 text-center">
                            <button type="submit" class="btn btn-success btn-lg btn-block"
                                (click)="registrar(frm)">Registrarse</button>
                        </div>
                        <div class="col-md-6 text-center">
                            <a type="submit" class="btn btn-primary btn-lg btn-block" [routerLink]="'/login'">Volver</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>